// app global css

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');
html,
body {
  margin: 0;
  padding: 0;
}

.inter {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}

.oswald {
  font-family: 'Oswald', sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}
